@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700&display=swap");

* html {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: "Open Sans", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color:#ffffff;
  background-image: 
    radial-gradient(at 0% 0%, rgb(255, 255, 255) 0, transparent 50%), 
    radial-gradient(at 50% 0%, #df1f1f 0, transparent 50%), 
    radial-gradient(at 100% 0%, rgb(255, 255, 255) 0, transparent 50%);
}
